.search__form {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 33%;
  input {
    all: unset;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #686c74;
    font-size: 16px;
    color: #202533;
    width: 90%;
    &::placeholder {
      color: #202533;
    }
  }
  button {
    all: unset;
  }
  button {
    position: absolute;
    right: 15px;
    font-size: 18px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
  }
}

.header__search {
  margin-bottom: -5px;
}
