@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

header {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__logo {
    width: 33%;
    color: $red;
    font-size: 32px;
    display: flex;
    align-items: center;
    gap: 2px;
    .fa-bars {
      color: white;
      font-size: 22px;
      margin-right: 20px;
    }
    #youtubeSpan {
      color: white;
      font-family: "Oswald", sans-serif;
      font-weight: 500;
      font-size: 22px;
    }
  }
  nav {
    width: 33%;
  }
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    li {
      margin-left: 30px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }
    i {
      font-size: 16px;
    }
  }
  .header__btn {
    background-color: white;
    color: $bg;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .header__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .header__icon {
    font-size: 40px;
  }
  .header__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
  }
}
