// video mixin
.video-mixin {
  max-height: 300px;
  .video-mixin__thumb {
    height: 200px;
    border-radius: 15px;
    width: 100%;
    background-color: ivory;
  }
  .video-mixin__data {
    padding: 0px 15px;
    .video-mixin__title {
      display: flex;
      align-items: center;
      font-size: 16px;
    }
  }
}
.data-wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
  img {
    border-radius: 50%;
    width: 30px;
  }
}
