header
  a.header__logo(href="/")
    i.fa-solid.fa-bars
    i.fa-brands.fa-youtube
    span#youtubeSpan Premium

  form.search__form(method="GET", action="search")
    input(placeholder="검색", name="keyword", type="text")
    button
      i.fas.fa-search
  nav
    ul
      if loggedIn
        li
          a(href="/videos/upload") Upload Video
        li
          a(href="/users/edit") Edit Profile
        li
          a(href="/users/logout") Log Out
        li
          a(href=`/users/${loggedInUser._id}`)
            if !loggedInUser.avatarUrl
              span.header__icon 😃
            else
              img.header__avatar(src=loggedInUser.avatarUrl)
      else
        li
          a(href="/login") Login
        li
          a.header__btn(href="/join") Join
